body {
    background: linear-gradient(to right, #2a2a72 0%, #20BF55
 100%);
}
.main-container{
    margin: 50px auto;
}
.form-heading{
   text-align: center;
    background-color: #FF1493;
    color: white;
    padding: 20px;
    font-size: bold;
}
.row .col.user-input-wrp {
    float: none;
    margin: 18px auto;
}
.user-input-wrp .inputText.is-invalid{
    border-color: red;
}
.btns {
    margin: 50px 10px 30px;
}
.enclave-mail {
  display: block;
  margin: 30px auto;
  text-align: center;
}
.loader {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: relative;
  margin: 50px auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}