.main-container{
    margin: 50px auto ;
    border: 2px solid black; 
    width:40%;
    background-color: white;
    
}
.form-heading{
    margin: auto;
    text-align: center;
    background-color: #FF1493;
    color: white;
    font-size: 20px;
    padding: 10px;   
}
.user-input-wrp {
	position: relative;
    width: 90%;
    margin: auto;
}
.user-input-wrp .inputText{
	width: 100%;
	outline: none;
	border:none;
	border-bottom: 1px solid #777;
    box-shadow: none !important;
    font-size: 10px;
    margin: 20px auto;
    
}
.user-input-wrp .inputText:focus{
	border-color: blue;
	border-width: medium medium 1px;
}
.user-input-wrp .floating-label {
	position: absolute;
	pointer-events: none;
	top:40px;
	left: 0px;
    transition: 0.2s ease all;
    color:gray;
    font-size: 10px;
}
.user-input-wrp input:focus ~ .floating-label,
.user-input-wrp input:not(:focus):valid ~ .floating-label{
	top: 25px;
	left: 0px;
	font-size: 10px;
    opacity: 1;
    
}
.send-btn,.reset-btn{
    border: none;
    outline: none;
    background-color: #FF1493;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 8px 30px;
    font-size: 12px;
    margin: 50px 0;
}
.reset-btn{
    float: right;
}
.btns{
    margin: auto;
    width: 90%;
}  
.reset-icon,
.send-icon{
    margin-left: 10px;
}  